<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy"/>
                <property name="url" value="jdbc:log4jdbc:oracle:thin:@seoul?TNS_ADMIN=C:/u01/oracle/product/19.3.0/dbhome/network/admin"/>
                <property name="username" value="hr"/>
                <property name="password" value="Oracle12345678"/>

                <property name="defaultNetworkTimeout" value="2000"/>
                <property name="driver.encoding" value="UTF*"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/MemberMapper.xml"/>
    </mappers>
</configuration>